/** @format */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.squre {
  border-radius: 0px;
  color: red;
}

.jumbotron {
  position: relative;
  background: #eee;
  text-align: center;
  margin-bottom: 10px !important;
  background-image: linear-gradient(to right, #00a2ff, rgb(61, 56, 56));
  color: white;
}

.pointer {
  cursor: pointer;
}

.alert-primary {
  display: flex;
  justify-content: space-between;
}

#__next
  > div.container-fluid
  > div
  > div:nth-child(1)
  > ul
  > li
  > span.ant-menu-title-content
  > span
  > svg {
  position: absolute;
  right: 25px;
  top: 13px;
}

.btn {
  transition: scale(0.98%);
}

#__next
  > div.container-fluid
  > div
  > div.col-md-10
  > div
  > div
  > div
  > div.d-flex {
  justify-content: space-evenly;
}

#__next > div.container-fluid > div > div.col-md-2 {
  background-image: linear-gradient(45deg, #f0f0f0, transparent);
  height: 100vh;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #47525d;
}
.nav-link {
  color: hsl(0deg 0% 13%);
}
