/** @format */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.squre {
  border-radius: 0px;
  color: red;
}

.jumbotron {
  position: relative;
  background: #eee;
  text-align: center;
  margin-bottom: 10px !important;
  background-image: linear-gradient(to right, #00a2ff, rgb(61, 56, 56));
  color: white;
}

.pointer {
  cursor: pointer;
}

.alert-primary {
  display: flex;
  justify-content: space-between;
}
